nav {
  display: flex;
  height: 50px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  color: black;
  width: 100%;
  padding: 10px;
}
i {
  font-size: 20px;
}

.meet {
  font-size: 15px;
}
span {
  margin: 20px;
  font-size: 20px;
  display: flex;
}
img {
  height: 40px;
  width: 40px;
  margin-top: 10px;
}
h1 {
  width: 50%;
  margin: auto;
  margin-top: 150px;
  padding-right: 500px;
  font-size: 40px;
}
.new {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  padding-right: 500px;
  font-size: 20px;
  color: gray;
}
.btn {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  padding-right: 500px;
}
button {
  color: white;
  background-color: #1c6dd0;
  border: none;
  border-radius: 4px;
  height: 50px;
  margin: auto;
  padding: 10px;
  font-size: 15px;
}
.int {
  margin-left: 30px;
  width: 250px;

  height: 50px;
  font-size: 15px;
  border-radius: 4px;
}
.main {
  height: 50%;
  width: 25%;
  position: absolute;
  top: 180px;
  left: 900px;
}

h5 {
  color: gray;
  font-size: 15px;
}
.lik {
  width: 400px;
  margin: auto;
  float: right;
  margin-right: 130px;
}
.row {
  float: right;
  margin-right: 200px;
}
.col {
  margin-left: 850px;
}
